html{
    font-family: 'Montserrat', sans-serif;
}

header{
    text-align: center;
}

body {
    background-color: #a7cdd3;
    color: #201148;
    text-align: center;
    padding: 1vh;
}

.upper_container{
    display: flexbox;
}

.container {
    display: inline-block;
    font-size: 20px;
    padding: 1vmax;
}

a:link, a:visited {
    text-decoration: none;
    color: #201148;
}